body{
  background-color: #FF009B;
  position: relative;
}


.head{
  height: 5.4vw;
  overflow-x: hidden;
}
.image-container {
  position: absolute;
}
.image-container>img{
  position: absolute;
  top:-1px;
  left: -7px;
}
#button>img{
  width: 18vw;
  position: absolute;
  top: calc(-18vw/2);
  left: calc(-18vw/2);
}
.app{
  position: absolute;
  top: 50vh;
  left: 50vw;
}

#w1:active {
  cursor: grabbing;
}
.use-2 button {
  background: transparent;
  border-radius: 50%;
  border: 0;
}

.disappear {
  opacity: 1;
  animation: disappearAnimation 1.5s forwards;
}
.appear {
  opacity: 0;
  animation: appearAnimation 1.5s forwards;
}

@keyframes disappearAnimation {
  0% {opacity: 1;}
  100% {opacity: 0;}
}
@keyframes appearAnimation {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
