body{
  background-color: #FF009B;
  position: relative;
}

.head{
  height: 5.4vw;
  overflow-x: hidden;
}
.image-container {
  position: absolute;
}
.image-container>img{
  position: absolute;
  top:0;
  left: 0;
}
.app{
  position: absolute;
  top: 45vw;
  left: 43vw;
  height: 25vw;
}

#w1:active {
  cursor: grabbing;
}
.use-2 button {
  background: transparent;
  border-radius: 50%;
  border: 0;
}

.disappear {
  opacity: 1;
  animation: disappearAnimation 1.5s forwards;
}
.appear {
  opacity: 0;
  animation: appearAnimation 1.5s forwards;
}

@keyframes disappearAnimation {
  0% {opacity: 1;}
  100% {opacity: 0;}
}
@keyframes appearAnimation {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
