@media only screen and (min-device-width: 316px) and (max-device-width: 480px) and (orientation: portrait) {
  .b1{
    position: absolute;
    height: 50vw;
    top:4vw;
    left: 3vw;
  }
  .w1{
    position: absolute;
    height: 50vw;
    top:4vw;
    left: 3vw;
  }
  .b2{
    position: absolute;
    height: 30vw;
    top:4vw;
  left:50vw;
  }
  .w2{
    position: absolute;
    height: 20vw;
    top:4vw;
    left:50vw;
  }
  .b3{
    height: 50vw;
    top: 90vw;
    left: 2vw;
  }
}
