@import "reset.css";
@import "content.css";
@import "responsive.css";
@font-face {
  font-family: 'HalvarMittel-Rg';
  src: url('HalvarMittel-Bd.eot');
  src: local('Halvar Mittelschrift Bold'), local('HalvarMittel-Bd'),
      url('HalvarMittel-Bd.eot?#iefix') format('embedded-opentype'),
      url('HalvarMittel-Bd.woff2') format('woff2'),
      url('HalvarMittel-Bd.woff') format('woff'),
      url('../fonts/HalvarMittel-Bd.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  }
  h1{
  font-family:HalvarMittel-Rg;
  font-size:2vw ;
  position: absolute;
  color: white;
}
.txt1{
  top: 15.4vw;
  left: 6vw;
}
.txt2{
  top: 15.4vw;
  left: 18vw;
}
.txt3{
  top: 16vw;
  left: 11vw;
}
.txt4{
  top: 31.5vw;
  left: 11vw;
}
