@import "reset.css";
@import "content.css";
@import "responsive.css";
@font-face {
    font-family: "ProtoGroteskWeb";
    src: url("../fonts/ProtoGroteskWeb-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
  }
